body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

.student-picture {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}